<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[2B]</key>
	<string>2B</string>
	<key>[乒乓球]</key>
	<string>乒乓球</string>
	<key>[亲亲]</key>
	<string>亲亲</string>
	<key>[便便]</key>
	<string>便便</string>
	<key>[偷笑]</key>
	<string>偷笑</string>
	<key>[冷汗]</key>
	<string>冷汗</string>
	<key>[冷酷]</key>
	<string>冷酷</string>
	<key>[力量]</key>
	<string>力量</string>
	<key>[卖萌]</key>
	<string>卖萌</string>
	<key>[发呆]</key>
	<string>发呆</string>
	<key>[发怒]</key>
	<string>发怒</string>
	<key>[可怜]</key>
	<string>可怜</string>
	<key>[可爱]</key>
	<string>可爱</string>
	<key>[右哼哼]</key>
	<string>右哼哼</string>
	<key>[吐]</key>
	<string>吐</string>
	<key>[咒骂]</key>
	<string>咒骂</string>
	<key>[哈哈]</key>
	<string>哈哈</string>
	<key>[哼]</key>
	<string>哼</string>
	<key>[嘘]</key>
	<string>嘘</string>
	<key>[困]</key>
	<string>困</string>
	<key>[坏笑]</key>
	<string>坏笑</string>
	<key>[坏笑啦]</key>
	<string>坏笑啦</string>
	<key>[大笑]</key>
	<string>大笑</string>
	<key>[奋斗]</key>
	<string>奋斗</string>
	<key>[委屈]</key>
	<string>委屈</string>
	<key>[尴尬]</key>
	<string>尴尬</string>
	<key>[左哼哼]</key>
	<string>左哼哼</string>
	<key>[庆祝]</key>
	<string>庆祝</string>
	<key>[开心]</key>
	<string>开心</string>
	<key>[得意]</key>
	<string>得意</string>
	<key>[心碎]</key>
	<string>心碎</string>
	<key>[悲伤篮球]</key>
	<string>悲伤篮球</string>
	<key>[悲伤足球]</key>
	<string>悲伤足球</string>
	<key>[惊恐]</key>
	<string>惊恐</string>
	<key>[惊讶]</key>
	<string>惊讶</string>
	<key>[愣]</key>
	<string>愣</string>
	<key>[愤怒]</key>
	<string>愤怒</string>
	<key>[憋屈]</key>
	<string>憋屈</string>
	<key>[憨]</key>
	<string>憨</string>
	<key>[手雷]</key>
	<string>手雷</string>
	<key>[打住]</key>
	<string>打住</string>
	<key>[打瞌睡]</key>
	<string>打瞌睡</string>
	<key>[扮酷]</key>
	<string>扮酷</string>
	<key>[抓狂]</key>
	<string>抓狂</string>
	<key>[抠鼻]</key>
	<string>抠鼻</string>
	<key>[抽脸]</key>
	<string>抽脸</string>
	<key>[握手]</key>
	<string>握手</string>
	<key>[擦汗]</key>
	<string>擦汗</string>
	<key>[敲打]</key>
	<string>敲打</string>
	<key>[无语了]</key>
	<string>无语了</string>
	<key>[晕]</key>
	<string>晕</string>
	<key>[暴脾气]</key>
	<string>暴脾气</string>
	<key>[欢呼篮球]</key>
	<string>欢呼篮球</string>
	<key>[欢呼足球]</key>
	<string>欢呼足球</string>
	<key>[泪奔]</key>
	<string>泪奔</string>
	<key>[泪流不止]</key>
	<string>泪流不止</string>
	<key>[淡定]</key>
	<string>淡定</string>
	<key>[狂喜]</key>
	<string>狂喜</string>
	<key>[狂躁]</key>
	<string>狂躁</string>
	<key>[猪头]</key>
	<string>猪头</string>
	<key>[疑问]</key>
	<string>疑问</string>
	<key>[疲惫]</key>
	<string>疲惫</string>
	<key>[瞟]</key>
	<string>瞟</string>
	<key>[瞧不上]</key>
	<string>瞧不上</string>
	<key>[石化]</key>
	<string>石化</string>
	<key>[篮球]</key>
	<string>篮球</string>
	<key>[红牌罚下]</key>
	<string>红牌罚下</string>
	<key>[罚下]</key>
	<string>罚下</string>
	<key>[羞涩]</key>
	<string>羞涩</string>
	<key>[胜利]</key>
	<string>胜利</string>
	<key>[舔]</key>
	<string>舔</string>
	<key>[色]</key>
	<string>色</string>
	<key>[苦涩]</key>
	<string>苦涩</string>
	<key>[苦逼]</key>
	<string>苦逼</string>
	<key>[菜刀]</key>
	<string>菜刀</string>
	<key>[衰]</key>
	<string>衰</string>
	<key>[调皮]</key>
	<string>调皮</string>
	<key>[谄媚]</key>
	<string>谄媚</string>
	<key>[足球]</key>
	<string>足球</string>
	<key>[踩]</key>
	<string>踩</string>
	<key>[逊]</key>
	<string>逊</string>
	<key>[鄙视]</key>
	<string>鄙视</string>
	<key>[闪电]</key>
	<string>闪电</string>
	<key>[闭嘴]</key>
	<string>闭嘴</string>
	<key>[阴险]</key>
	<string>阴险</string>
	<key>[顶]</key>
	<string>顶</string>
	<key>[骷髅]</key>
	<string>骷髅</string>
	<key>[黄牌警告]</key>
	<string>黄牌警告</string>
	<key>[黑哨]</key>
	<string>黑哨</string>
	<key>[鼓掌]</key>
	<string>鼓掌</string>
</dict>
</plist>
