<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[开心]</string>
	<string>[可爱]</string>
	<string>[发怒]</string>
	<string>[擦汗]</string>
	<string>[坏笑]</string>
	<string>[惊恐]</string>
	<string>[泪奔]</string>
	<string>[偷笑]</string>
	<string>[调皮]</string>
	<string>[咒骂]</string>
	<string>[委屈]</string>
	<string>[色]</string>
	<string>[鄙视]</string>
	<string>[闭嘴]</string>
	<string>[发呆]</string>
	<string>[疲惫]</string>
	<string>[抠鼻]</string>
	<string>[阴险]</string>
	<string>[晕]</string>
	<string>[抓狂]</string>
	<string>[吐]</string>
	<string>[奋斗]</string>
	<string>[尴尬]</string>
	<string>[鼓掌]</string>
	<string>[打瞌睡]</string>
	<string>[大笑]</string>
	<string>[得意]</string>
	<string>[惊讶]</string>
	<string>[冷汗]</string>
	<string>[疑问]</string>
	<string>[嘘]</string>
	<string>[亲亲]</string>
	<string>[困]</string>
	<string>[哼]</string>
	<string>[愣]</string>
	<string>[扮酷]</string>
	<string>[右哼哼]</string>
	<string>[左哼哼]</string>
	<string>[苦逼]</string>
	<string>[苦涩]</string>
	<string>[可怜]</string>
	<string>[瞟]</string>
	<string>[冷酷]</string>
	<string>[衰]</string>
	<string>[骷髅]</string>
	<string>[舔]</string>
	<string>[顶]</string>
	<string>[踩]</string>
	<string>[敲打]</string>
	<string>[心碎]</string>
	<string>[握手]</string>
	<string>[胜利]</string>
	<string>[逊]</string>
	<string>[打住]</string>
	<string>[菜刀]</string>
	<string>[手雷]</string>
	<string>[便便]</string>
	<string>[篮球]</string>
	<string>[足球]</string>
	<string>[闪电]</string>
	<string>[力量]</string>
	<string>[猪头]</string>
	<string>[乒乓球]</string>
	<string>[悲伤篮球]</string>
	<string>[悲伤足球]</string>
	<string>[罚下]</string>
	<string>[愤怒]</string>
	<string>[黑哨]</string>
	<string>[欢呼篮球]</string>
	<string>[欢呼足球]</string>
	<string>[庆祝]</string>
	<string>[2B]</string>
	<string>[暴脾气]</string>
	<string>[憋屈]</string>
	<string>[谄媚]</string>
	<string>[抽脸]</string>
	<string>[淡定]</string>
	<string>[哈哈]</string>
	<string>[憨]</string>
	<string>[红牌罚下]</string>
	<string>[坏笑啦]</string>
	<string>[黄牌警告]</string>
	<string>[狂喜]</string>
	<string>[狂躁]</string>
	<string>[泪流不止]</string>
	<string>[卖萌]</string>
	<string>[瞧不上]</string>
	<string>[石化]</string>
	<string>[无语了]</string>
	<string>[羞涩]</string>
</array>
</plist>
